## .NET Ignore
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rms/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Reports output
reports/
*.log
